:root {
    --CBA_lightBlue: #53aae0;
    --CBA_Grey4: #dbe5e9;
    --CBA_Grey1: #29343e;
    --CBA_Grey3: #899dac;
    --CBA_Grey6: #f7fbfd;
    --CBA_Info: #1c7cd5;
  }
  /*html{
    background-color: var(--CBA_lightBlue); 
  }*/
  body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    z-index: -1000;
  }
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
  }
  .btn-primary{
      background-color: var(--CBA_lightBlue) !important;
      border-color: var(--CBA_lightBlue) !important;
  }
  .btn-primary:hover{
    background-color: var(--CBA_Info) !important;
    border-color: var(--CBA_Info) !important;
  }
  .dropdown-item:hover{
    background-color: var(--CBA_Info) !important;
    border-color: var(--CBA_Info) !important;
  }
  .bg {
    /* The image used */
    /*background-image: url("./images/fondo3\ copia\ \(1\).svg");*/
  
    /* Full height */
    width: 100%;
    height: auto;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .bg-solid{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
  }
  .container{
      background-color: #ffffff;
      border-radius: 20px;
      height: 450px;
      width: 600px;
      box-shadow: 4px 8px 19px 2px rgba(0,0,0,0.44);
    -webkit-box-shadow: 4px 8px 19px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: 4px 8px 19px 2px rgba(0,0,0,0.44);
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
  }
  .selector{
      color: var(--CBA_Grey1);
  }
  .logo{
      padding-top: 80px;
  }
  .footer{
      padding-bottom: 80px;
  }